<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/flow.css">
    <title>xd-testing Application Flow</title>
</head>
<body>

<h1>Flow Visualization</h1>

<div class="grid">
    <div class="header-devices">
        <div class="header-device">
            Devices
        </div>
        {{#devices}}
            <div class="header-device">
                <h2>{{deviceId}}</h2>
            </div>
        {{/devices}}
    </div>
    {{#grid}}
        {{#.}}
            <div class="checkpoint-row">
                <span class="checkpoint-name">{{name}}</span><!--{{name}}-->
                {{#checkpoints}}
                    {{#.}}
                        <div class="checkpoint">
                            <div class="checkpoint-title"><h2>Checkpoint #{{id}}: {{name}}</h2></div>
                            <div class="steps">
                                {{#steps}}
                                    <div class="step device{{deviceId}}" id="step{{stepId}}">
                                    <span class="commands">{{#commands}}<span
                                            class="command">{{.}}</span>{{/commands}}</span>
                                        {{#img}}{{imageBase64}}{{/img}}
                                    </div>
                                {{/steps}}
                            </div>
                        </div>
                    {{/.}}
                {{/checkpoints}}
            </div>
        {{/.}}
    {{/grid}}
</div>


</body>
</html>
