<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="flow.css">
    <title>xd-testing Application Flow</title>
</head>
<body>

<div class="header">
    {{#devices}}
        <!-- TODO show device name etc. -->
        <div class="device{{.}}">{{.}}</div>
    {{/devices}}
</div>

<div class="steps">
    {{#steps}}
        <div class="step device{{deviceId}}" id="step{{step}}">
            <span class="commands">{{#commands}}<span class="command">{{.}}</span>{{/commands}}</span>
            <img src="data:image/png;base64,{{imageBase64}}">
        </div>
    {{/steps}}
</div>

</body>
</html>
