<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/flow.css">
    <title>xd-testing Application Flow</title>
</head>
<body>

<div class="device-container">
    {{#devices}}
        <div class="device">
            <div class="header">
                <h1>{{deviceId}}</h1>
                {{#json}}{{deviceOptions}}{{/json}}
                <!-- TODO show device name etc. -->
            </div>

            <div class="checkpoints">
                {{#checkpoints}}
                    <div><h2>Checkpoint #{{id}}: {{name}}</h2></div>

                    <div class="steps">
                        {{#steps}}
                            <div class="step device{{deviceId}}" id="step{{step}}">
                                <span class="commands">{{#commands}}<span class="command">{{.}}</span>{{/commands}}</span>
                                <img src="data:image/png;base64,{{imageBase64}}">
                            </div>
                        {{/steps}}
                    </div>
                {{/checkpoints}}
            </div>
        </div>
    {{/devices}}
</div>


<!--<div class="flow">-->
    <!--<div class="header">-->
        <!--{{#devices}}-->
            <!--{{deviceId}}-->

            <!--<div class="checkpoints">-->
                <!--{{#checkpoints}}-->
                    <!--<div>#{{id}}: {{name}}</div>-->
                    <!--<div class="steps">-->
                        <!--{{#steps}}-->
                            <!--<div class="step device{{deviceId}}" id="step{{step}}">-->
                                <!--<span class="commands">{{#commands}}<span class="command">{{.}}</span>{{/commands}}-->
                                <!--</span>-->
                                <!--<img src="data:image/png;base64,{{imageBase64}}">-->
                            <!--</div>-->
                        <!--{{/steps}}-->
                    <!--</div>-->
                <!--{{/checkpoints}}-->
            <!--</div>-->

        <!--{{/devices}}-->
    <!--</div>-->
<!--</div>-->

</body>
</html>
