<div class="checkpoint-selection">
    {{^checkpoints}}There are no checkpoints.{{/checkpoints}}
    {{#checkpoints.length}}
        <p>Checkpoints:</p>
        <ul>
            {{#checkpoints}}
                <li><a href="javascript:scrollToCheckpoint('{{.}}')">{{.}}</a></li>
            {{/checkpoints}}
        </ul>
    {{/checkpoints.length}}
</div>
