<div class="flow-selection">
    {{^allFiles}}<p>There are no flow files. To visualize your flow files put them in <code>{{flowDirectory}}</code></p>{{/allFiles}}
    {{#allFiles.length}}
        <div>
            <p><i class="fa fa-folder-o" title="{{flowDirectory}}"></i> Select a flow file:</p>
            <ul>
                <li><a href="/">none</a></li>
                {{#allFiles}}
                    <li><a href="?files[]={{.}}">{{.}}</a></li>
                {{/allFiles}}
            </ul>
        </div>

        <div>
            <p>Compare with:</p>
            <ul>
                <li><a href="?files[]={{file}}">none</a></li>
                {{#allFiles}}
                    <li><a href="?files[]={{file}}&files[]={{.}}">{{.}}</a></li>
                {{/allFiles}}
            </ul>
        </div>
    {{/allFiles.length}}
</div>
