<div class="flow-selection">
    {{^files}}There are no flow files. To visualize your flow files put them in <code>{{flowDirectory}}</code>{{/files}}
    {{#files.length}}
        Your flow files:
        <ul>
            {{#files}}
                <li><a href="?file={{.}}">{{.}}</a></li>
            {{/files}}
        </ul>
    {{/files.length}}
</div>
