<div class="flow-selection">
    {{^allFiles}}<p>There are no flow files. To visualize your flow files put them in <code>{{flowDirectory}}</code></p>{{/allFiles}}
    {{#allFiles.length}}
        <div style="display: flex; flex-direction: row;">
            <div style="flex: 1 1 auto">
                <p>Your flow files:</p>
                <ul>
                    <li><a href="/">none</a></li>
                    {{#allFiles}}
                        <li><a href="?files[]={{.}}">{{.}}</a></li>
                    {{/allFiles}}
                </ul>
            </div>

            <div style="flex: 1 1 auto">
                <p>Compare with:</p>
                <ul>
                    <li><a href="?files[]={{file}}">none</a></li>
                    {{#allFiles}}
                        <li><a href="?files[]={{file}}&files[]={{.}}">{{.}}</a></li>
                    {{/allFiles}}
                </ul>
            </div>
        </div>
    {{/allFiles.length}}
</div>
