tr {
  display: table-row;
}

/* All cells */
td {
  display: table-cell;
  padding: 10px 5px;
}

.header {
  font-weight: bold;
}

.flows {
  display: flex;
  flex-direction: row;
}

.grid-container {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  height: 800px;
  word-break: break-all;
}

.grid {
  display: table;
  border-collapse: collapse;
}

.grid:not(:first-child) {
  border-left: 1px solid black;
}

.header-devices {
  &:extend(tr);

  word-break: normal;

  .header-device {
    &:extend(td);
  }
}

.checkpoint-row {
  &:extend(tr);

  border: 1px solid black;
  border-right-width: 0;
  border-left-width: 0;

  .checkpoint-name {
    cursor: pointer;
    word-break: normal;
  }

  .checkpoint, .checkpoint-name {
    &:extend(td);
  }

  .checkpoint {
    vertical-align: top;

    .checkpoint-title {
      display: none;
    }

    .step {
      img {
        border: 1px solid grey;
        max-width: 100%;
      }

      .commands, .command {
        display: block;
      }
    }
  }
}
