img {
    border: 1px solid grey;
}

.header {
    font-weight: bold;
}

.step .commands, .step .command {
    display: block;
}

.flows {
    display: flex;
    flex-direction: row;
}

.grid-container {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    height: 800px;
    word-break: break-all;
}

.grid {
    display: table;
    border-collapse: collapse;
}

.grid:not(:first-child) {
    border-left: 1px solid black;
}

.header-devices {
    display: table-row;
}

.header-devices:first-child, .checkpoint-row:first-child {
    word-break: normal;
}

.header-device {
    display: table-cell;
}

.checkpoint-row {
    display: table-row;
    border: 1px solid black;
    border-width: 1px 0;
}

.checkpoint-name, .header-device:first-of-type {
    display: table-cell;
    padding: 0 10px;
}

.checkpoint-name {
    cursor: pointer;
}

.checkpoint {
    display: table-cell;
    vertical-align: top;
}

/* All cells */
.header-device, .checkpoint {
    padding: 10px 5px;    
}

.checkpoint-title {
    display: none;
}

.device {
    display: table-cell;
    padding: 10px;
}

.step img {
    max-width: 100%;
}
