img {
    border: 1px solid grey;
}

.header {
    font-weight: bold;
}


.step .commands, .step .command {
    display: block;
}

.device-container {
    display: table;
    max-width: 100%;
}

.device {
    display: table-cell;
    padding: 10px;
}

.step img {
    max-width: 100%;
}